.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background: #FFF;
    color: #434455;
}
/* Скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Mobile */
section 
{
    padding-top: 96px;
    padding-bottom: 96px;
}
/* Tablet - doesn't change */ 
/* Desktop */
@media screen and (min-width: 1158px) {
 section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */
/* Mobile */
.container {
max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;

    outline: 2px solid red;
    outline-offset: -2px;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    }
}


/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
color: var(--IRIS, #4D5AE5);
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 24px;
    flex-shrink: 0;
    margin-right: 76px;
}
.logo-studio {
    font-family: 'Raleway', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
}
a {
    text-decoration: none;
}
/* Navigation+Contacts */
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-link-item:hover,
.nav-link-item:focus {
    color: var(--OCEAN, #404BBF);
}
.nav-link-item {
    color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        box-sizing: border-box;
        display: block;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-item.active {
    color: #404bbf;
}
.nav-link-item.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.nav-link-item:last-child {
    margin-right: 0;
}
address {
    font-style: normal;
}
.contact-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
.contact-list:last-child {
    margin-right: 0;
}
.contact-link-item {
    color: #434455;
    font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding: 24px 0;
        display: flex;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link-item:hover,
.contact-link-item:focus {
        color: var(--OCEAN, #404BBF);
}
/* Main */
/* Section 1 */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-color: var(--NAVY-BLUE, #2E2F42);
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.hero-heading {
    max-width: 496px;
    color: var(--WHITE, #FFF);
    text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    /*
    color: var(--WHITE, #FFF); 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
}
.hero-button {
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
h3 {
color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Section 2 */
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
width: calc( (100% - 72px) / 4);
}
.features-subtitle {
    margin-bottom: 8px;
}
.features-wrapper {
width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid var(--LIGHT-SLATE, #8E8F99);
background: var(--CLOUD, #F4F4FD);
display: flex;
justify-content:center;
align-items: center;
margin-bottom: 8px;
}

/* Section 3 */
.our-team {
    background-color: var(--CLOUD, #F4F4FD);
}
.our-team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
        width: 100%;
}
.our-team-item {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
    .our-team-list {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 64px;
            column-gap: 24px;
        }
}
@media screen and (min-width: 1158px) {
    .our-team-item {
        width: calc((100% - 72px) / 4);
    }
}
.our-team-text {
    font-size: 16px;
    text-align: center;
}
h2 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.our-team-title {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    text-align: center;
}
.our-team-subtitle {
    margin-bottom: 8px;
    text-align: center;
}
.our-team-information {
    padding: 32px 0;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4FD;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}
.icon {
    fill:#f4f4fd;
}
/* Section 4*/
.our-portfolio-title {
    margin-bottom: 72px;
}
.our-portfolio-info {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.our-portfolio-list {
display: flex;
gap: 48px;
flex-direction: column;
}
@media screen and (min-width: 768px) {
    .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
 .our-portfolio-list {
    row-gap: 48px;
 }
}
.our-portfolio-item {
width: 100%;
padding-bottom: 32px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .our-portfolio-item {
width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .our-portfolio-item {
width: calc((100% - 48px) / 3);
    }
}

.our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-item:hover .overlay-text {
    transform: translateY(0);
}
.our-portfolio-subtitle {
    margin-bottom: 8px;
}
.overlay-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    padding: 40px 32px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Footer*/
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    height: 312px;
    flex-shrink: 0;
    padding: 100px 0;
 }
 .footer-text {
     color: var(--CLOUD, #F4F4FD);
     line-height: 1.5;
     letter-spacing: 0.02em;
     width: 264px;
}
.footer-bottom {
    display: flex;
    align-items: baseline;
 }
.footer-logo {
color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-studio {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-bottom: 16px;
}
.footer-left {
    margin-right: 120px;
}
.footer-socials-text {
    color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-elem {
    width: 40px;
    height: 40px;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
background-color: #31D0AA;
}
.footer-socials-icons {
    fill: #f4f4fd;
}


/* Footer modal form */

.form-input {
    font-family: inherit;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: transparent;
    background-color: transparent;
    line-height: 2;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #fff;
    padding: 8px 16px;
}
.form-input::placeholder {
    color: var(--WHITE, #FFF);
}
.footer-modal {
   margin-left: auto;
}
.footer-text-subs {
color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
  
.footer-modal-form {
    display: flex;
    gap: 24px;
}
.footer-form-button {
display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 40px;
    min-width: 165px;
    border: none;
    cursor: pointer;
}
.icon-footer {
    margin-left: 16px;
}

/* Modal window */

.backdrop {
    display :flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
}
.modal-button:hover,
.modal-button:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
    fill: #ffffff;
}
.modal-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-weight: 500;
        margin-bottom: 16px;
}
.modal-label {
    color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        margin-bottom: 4px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus {
        border-color: #4d5ae5;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.modal-form-input:focus + .form-icon {
    fill: #4d5ae5;
}
.form-field {
    position: relative;
}
.form-wrapper {
    margin-bottom: 8px;
}
.textarea-field {
    width: 360px;
    height: 120px;
    flex-shrink: 0;
    resize: none;
    width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-textarea {
   margin-bottom: 16px; 
}
.textarea-field:focus {
border-color: #4d5ae5;
}
.modal-form-button {
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    min-width: 169px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}
.modal-form-button:hover,
.modal-form-button:focus {
background-color: #404bbf;
border: none;
}
.form-agreement {
    margin-bottom: 24px;
    margin-top: 16px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    user-select: none;
}
.form-agreement-main {
    margin-bottom: 24px;
}
.form-agreement-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-right: 8px;
}
.form-agreement-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}
.field-checkbox:checked + .form-agreement >
.form-agreement-checkbox {
    background: #404bbf;
    border: none;
    fill: #F4F4FD;
}